@page
@model PRN231_ProjectClient.Pages.Customer.CheckOutModel
@{
}

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Billing Details</h4>
            <form method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Customer Name<span>*</span></p>
                                    <input name="customerName" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Address<span>*</span></p>
                            <input type="text" name="streetAddress" placeholder="Street Address" class="checkout__input__add">
                            <input type="text" name="detailAddress" placeholder="Apartment, suite, unite ect (optinal)">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phone<span>*</span></p>
                                    <input name="phonenum" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input name="email" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Order notes<span>*</span></p>
                            <input type="text"
                                   name="note"
                                   placeholder="Notes about your order, e.g. special notes for delivery.">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul>
                                @if(Model.carts != null)
                                {
                                    @for (int i = 0; i < Model.carts.Cart.Count; i++)
                                    {
                                        <li>@Model.carts.Cart[i].Product.ProductName <span>@(Model.carts.Cart[i].Product.Price * Model.carts.Cart[i].Quantity) VND</span></li>
                                        <input name="productId" type="hidden" value="@Model.carts.Cart[i].ProductId" />
                                        <input name="quantity" type="hidden" value="@Model.carts.Cart[i].Quantity" />
                                    }
                                }
                            </ul>
                            @{
                                int total = @Model.carts.Cart.Sum(c => c.Quantity * c.Product.Price);
                            }
                            <div class="checkout__order__subtotal">Subtotal <span>@total VND</span></div>
                            <div class="checkout__order__total">Total <span>@total VND</span></div>                          
                            <input name="total" type="hidden" value="@total" />
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
